<ion-header>

    <ion-toolbar>
      <!-- <ion-title>Header - No Border</ion-title> -->
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false" >
          </ion-menu-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
	
  </ion-toolbar>
 
</ion-header>

<ion-content>

  <ion-img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" style="width:50vw;height:100px;margin:10vh 25vw 5vh;"></ion-img>
  <h4 class="text-center" style="color:#7fbb00;font-weight: 900;">ID : </h4>
  <h6 class="text-center">Name : </h6>
  <hr/>
  <h6 class="text-center" style="width:90vw;margin-left: 5vw;"> Address</h6>
  <hr/>
  <br /><br /><br />
  <h6 class="text-center change-password" [routerLink]="['/change-password']">
      Change Password
  </h6>


</ion-content>
