
    ion-toolbar {
        --background: #7fbb00;
        --color: white;
    
        height: 50px;
    }
    
    ion-buttons {
        margin-top: -15px;
    }
    
    h5 {
        margin-left: 5vw;
        font-weight: 900;
    }

    input{
        width:80vw;
        margin-left: 10vw;
        box-shadow: none !important;
        outline:  none !important ;
    }


    button{
        margin-left: 10vw;;
        width:80vw;
        background-color: #7fbb00;
    
        font-weight:500;
        height: 46px;
    
        box-shadow: none !important;
        outline:  none !important ;
        color: #ffffff;
    }
    small{
      
    }