ion-item ion-icon{
    color:#7FBB00;
    font-weight: 900;
}


// ion-item:hover{
//     color:#7FBB00;
//     font-weight: 900;
// }

ion-toolbar{
    --background:#7FBB00;
    --color:white;
   
    height:50px;
  }
  