<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar class="ion-text-center ion-margin-end">
                <ion-title>3 Bins</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item [routerLink]="['/tabs/tab/map']" (click)="toggleMenu()"
                    ><ion-icon name="add-circle-outline" slot="start"></ion-icon
                    >Add Reports</ion-item
                >

                <ion-item [routerLink]="['/tabs/tab/past-reports']" (click)="toggleMenu()"
                ><ion-icon name="document-text-outline" slot="start"></ion-icon
                >Past Reports</ion-item
            >
              
                <ion-item [routerLink]="['/settings']" (click)="toggleMenu()"
                    ><ion-icon name="settings-outline" slot="start"></ion-icon
                    >Settings</ion-item
                >
                <ion-item [routerLink]="['/learn']" (click)="toggleMenu()"
                    ><ion-icon name="book-outline" slot="start"></ion-icon>Learn
                    How To Use</ion-item
                >
                <ion-item [routerLink]="['/']" (click)="toggleMenu()"
                    ><ion-icon name="book-outline" slot="start"></ion-icon>Log
                    Out</ion-item
                >
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
