ion-toolbar {
  --background: #7fbb00;
  --color: white;
  height: 50px;
}

ion-content {
  background-image: url('../../../assets/download.png');
}


ion-buttons {
  margin-top: -15px;
}

.add-report {
  position: absolute;
  bottom: 5vh;
  // border: 1px solid;
  height: 20vh;
  width: 90vw;
  margin-left: 5vw;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
}

.add-report div {
  // border:1px solid red;
  height: 5vh;
  margin: 0;
  padding: 0;
}

.add ion-item {
  //   margin-top: 20px;
  background-color: rgb(53, 52, 52);
  border-radius: 10px;
  color: white;
  font-weight: 800;
}
