<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" >
        </ion-menu-button>
    </ion-buttons>
      <ion-title>
        Learn
      </ion-title>
      <ion-icon name="person" slot="end" (click)="openProfile()"></ion-icon>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-item class="heading">
        <h4 >Learn How To Use this App</h4>
    </ion-item>

    <ion-item class="video">
        <iframe
            width="956"
            height="538"
            src="https://www.youtube.com/embed/wI6MqXNFhdk"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </ion-item>
</ion-content>
