ion-toolbar {
    --background: #7fbb00;
    --color: white;
    height: 70px;
}

ion-buttons {
    color: white;
    margin-top: 5px;
}

.homeImage {
    height: 50vh;
}

img {
    width: 100vw;
    height: 40vh;
    margin-bottom: 15px;
}

.reject {
    --background: #f44336;
    margin-left: 10vw;
    padding: 0;
    height: 45px;
}
.select {
    align-content: center;
    align-items: center;
    --background: #7fbb00;
    padding: 0;
    height: 45px;
    width: 100%;
}

ion-button ion-item {
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 0;
}

.home {
    position: absolute;
    top: 15vh;
    right: 10vw;
    color: white;
    --background: #1d1b1b59 0% 0% no-repeat padding-box;
    border-radius: 9px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: 700;
}

.dustbin {
    position: absolute;
    top: 65vh;
    right: 7vw;
    color: white;
    --background: #1d1b1b59 0% 0% no-repeat padding-box;
    border-radius: 9px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: 700;
}

ion-icon {
    --color: white;
}


