<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class='text-warning'>
    
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<img [src]='currentImage'/>

<h4 class="text-center">Picture of House Address</h4>

<ion-button class="reject">
  <ion-item color="none">
  <ion-icon name="close-sharp" ></ion-icon>Reject</ion-item>
</ion-button>

<ion-button class="select">
  <ion-item color="none">
  <ion-icon name="checkmark-sharp" ></ion-icon>Select</ion-item>
</ion-button>



<ion-item class="re-take" lines="none" (click)="tackPicture()">
  <ion-icon name="camera" ></ion-icon> &nbsp;Re-Take Photo
</ion-item>

</ion-content>
