


.homeImage {
    height: 39vh;
    // margin-top: 10px;
    // border:1px solid;
}
.dustbinImage{
    height: 39vh;
    margin-top: 10px;
    // border:1px solid red;
}
img {
    width: 92vw;
    height: 33vh;
    margin:10px 4vw;
}

.reject {
    --background: #f44336;
    margin-left: 10vw;
    padding: 0;
    height: 45px;
}
.select {
    align-content: center;
    align-items: center;
    --background: #7fbb00;
    padding: 0;
    height: 45px;
    width: 92vw;
    margin-left:4vw;
}

ion-button ion-item {
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding: 0;
}

.home {
    position: absolute;
    top: 39vh;
    right: 10vw;
    color: white;
    --background: #1d1b1b59 0% 0% no-repeat padding-box;
    border-radius: 9px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: 700;
}

.dustbin {
    position: absolute;
    top: 79vh;
    right: 5vw;
    color: white;
    --background: #1d1b1b59 0% 0% no-repeat padding-box;
    border-radius: 9px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-weight: 700;
 
}




