ion-toolbar{
  --background:#7FBB00;
  --color:white;
 
  height:50px;
}

ion-buttons{
  margin-top: -45px;
}

.homeImage{
  height:85vh;
}
img{
  width:100vw;
  height:70vh;
  margin-bottom: 15px;
}
.reject {
  --background:#F44336;

  margin-left: 10vw;
  padding: 0;
  height:45px;
}
.select {
  --background:#7FBB00;

  padding: 0;
  height:45px;
}

ion-button ion-item{
  font-size: 16px;
color:white;
font-weight: 700;
padding: 0;
}


.home{
  position: absolute;
  top:12vh;
  right:7vw;
  color:white;
  --background: #5a585859 0% 0% no-repeat padding-box;
  border-radius: 9px;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
font-weight: 700;
}



.dustbin{
  position: absolute;
  top:97vh;
  right:7vw;
  color:white;
  --background: #5a585859 0% 0% no-repeat padding-box;
  border-radius: 9px;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
font-weight: 700;
}


ion-icon{
  color:white;
}